<div *ngIf="feature" class="form-horizontal">
    <h2>
        {{feature.name}}
    </h2>
    <div *ngIf="editMode">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name: </label>
            <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="feature.name" placeholder="Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description: </label>
            <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="feature.description" placeholder="Description" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Forkable: </label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" [(ngModel)]="feature.isForkable" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Status: </label>
            <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="feature.status" placeholder="Status" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Assigned To: </label>
            <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="feature.assignedTo" placeholder="Assigned To" />
            </div>
        </div>
    </div>
</div>